<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-8</integer>
		<key>G</key>
		<integer>-8</integer>
		<key>J</key>
		<integer>-32</integer>
		<key>T</key>
		<integer>-32</integer>
		<key>V</key>
		<integer>-32</integer>
		<key>W</key>
		<integer>-32</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-24</integer>
		<key>C</key>
		<integer>-8</integer>
		<key>G</key>
		<integer>-8</integer>
		<key>J</key>
		<integer>-24</integer>
		<key>O</key>
		<integer>-8</integer>
		<key>Q</key>
		<integer>-8</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>o</key>
		<integer>-12</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>M</key>
		<integer>-8</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-32</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>o</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
